.calculator {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
  background-color: hsla(0, 0%, 7%, 0.986);
  border: 2px solid white;
  color: hsla(0, 0%, 100%, 0.925);
  margin-bottom: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;

  padding: 0 20px;
  padding-bottom: 20px;
  border-right: none;
}

/* display */
.display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  min-height: 7rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smoother scrolling for touch devices */
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  font-size: 2rem;
  text-align: end;
}
.display textarea {
  width: 95%;
  resize: none;
  margin: 0;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: none;
  font-size: 2rem;
  text-align: end;
  vertical-align: bottom;
}
.display textarea:focus {
  outline: 2px solid hsla(224, 97%, 54%, 0.932);
  border-radius: 10px;
}
.display p {
  margin: 0;
  padding: 0.5rem;
  white-space: normal; /* Allows line breaks within words */
  word-break: break-word; /* Breaks words at any point if necessary */
  color: hsla(224, 97%, 54%, 0.932);
}

/* main buttons */
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.buttons button {
  padding: 0.5rem 0.75rem;
  font-size: 2rem;
  color: hsla(0, 0%, 100%, 0.925);
  background-color: black;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
  box-shadow: 0 0 25px transparent; /* Example glow - adjust color and spread */
}
.buttons button:hover {
  border-color: hsla(224, 97%, 54%, 0.932);
  background-color: hsl(0, 0%, 15%);
  animation: glowing 2s ease-in-out infinite;
}
.buttons button:focus,
button:focus-visible {
  color: hsla(224, 97%, 54%, 0.932);
  border-color: hsla(224, 97%, 54%, 0.932);
}
.enter-button {
  grid-column: span 2;
}

/* additional buttons */
.hidden-buttons {
  display: none;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}
/* .hidden-buttons button {F
  font-size: 1rem;
} */

/* history */
.side-container {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: auto;
  padding: 0.75rem;
  min-width: 200px;
  max-width: 350px;
  max-height: 700px;
  background-color: hsla(0, 0%, 7%, 0.986);
  font-size: 2rem;
  text-align: start;
  overflow: auto; /* Show scrollbar only when needed */
  -webkit-overflow-scrolling: touch; /* Smoother scrolling for touch devices (optional) */
}
.danger-button {
  padding: 0.5rem 0.75rem;
  font-size: 2rem;
  color: hsla(0, 0%, 100%, 0.925);
  background-color: black;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}
.danger-button:hover {
  border-color: hsla(352, 97%, 54%, 0.932);
  background-color: hsl(0, 0%, 15%);
  animation: glowing-red 2s ease-in-out infinite;
}
.side-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.side-container li {
  padding: 0.25rem;
  white-space: normal; /* Allows line breaks within words */
  word-break: break-word; /* Breaks words at any point if necessary */
  border-bottom: 1px solid white;
}

/* animations */
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px hsla(224, 97%, 54%, 0.932);
  }
  50% {
    box-shadow: 0 0 20px hsla(207, 100%, 55%, 0.897);
  } /* Adjust opacity */
  100% {
    box-shadow: 0 0 10px hsla(224, 97%, 54%, 0.932);
  }
}
@keyframes glowing-red {
  0% {
    box-shadow: 0 0 10px hsla(352, 97%, 54%, 0.932);
  }
  50% {
    box-shadow: 0 0 20px hsla(352, 97%, 54%, 0.658);
  } /* Adjust opacity */
  100% {
    box-shadow: 0 0 10px hsla(352, 97%, 54%, 0.932);
  }
}

/* light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    background-color: hsla(0, 0%, 0%, 0.035);
  }

  .calculator {
    background-color: hsla(0, 0%, 100%, 0.925); 
    color: hsla(0, 0%, 7%, 0.986); 
    border: 2px solid hsla(0, 0%, 7%, 0.986);
  }
  .buttons button {
    background-color: hsla(0, 0%, 100%, 0.925); 
    color: hsla(0, 0%, 7%, 0.986); 
    border: 2px solid hsla(0, 0%, 7%, 0.986);
  }
  .display {
    border-bottom: 2px solid hsla(0, 0%, 7%, 0.986);
  }

  .display textarea {
    background-color: hsla(0, 0%, 100%, 0.925);
    border: 2px solid hsla(0, 0%, 7%, 0.986);
    border-radius: 10px;
    color: hsla(0, 0%, 7%, 0.986);
  }
  .display textarea:focus {
    border: transparent;
    outline: 2px solid hsla(224, 97%, 54%, 0.932);
    border-radius: 10px;
  }

  .buttons button {
    color: hsla(0, 0%, 7%, 0.986);
    background-color: hsla(0, 0%, 100%, 0.925);
  }
  .buttons button:hover {
    background-color: hsla(0, 0%, 100%, 0.925);
  }

  .hidden-buttons {
    border-bottom: 2px solid hsla(0, 0%, 7%, 0.986);
  }

  .side-container {
    background-color: hsla(0, 0%, 100%, 0.925);
  }

  .danger-button {
    color: hsla(0, 0%, 7%, 0.986);
    border: 2px solid hsla(0, 0%, 7%, 0.986);
    background-color: hsla(0, 0%, 100%, 0.925);
  }
  .danger-button:hover {
    background-color: hsla(0, 0%, 100%, 0.925);
  }

  .side-container li {
    border-bottom: 1px solid white;
  }
}
 */
