:root {
  font-family: "Noto Serif", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(245, 245, 245);
  background-image: url("./assets/mainBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*  overflow-x: hidden; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
a:visited {
  color: rgb(245, 245, 245);
  text-decoration: none;
}

/* style for scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: hsla(0, 0%, 0%, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(30, 46, 189);
  outline: 2px solid hsla(0, 0%, 0%, 0.678);
  outline-offset: -2px;
  border: 0.1px solid hsla(0, 0%, 0%, 0.616);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(273, 76%, 55%);
}
