:root {
  font-family: "Noto Serif", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(245, 245, 245);
  background-image: url("./assets/mainBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
a:visited {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
